body {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    background-color: #ffffff;
}
#container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding: 50px;
}

#boards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

#board1, #board2 { 
    position: relative;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    width: 400px;
    aspect-ratio: 1/1;
    border: 1px solid #eee;
}

.board-cell {
    border: 1px solid #ddd;
    box-sizing: border-box;
}

#ship-dock {
    display: flex;
    flex-direction: column;
    gap:20px;
}

#ship-dock > div {
    display: flex;
    gap: 20px;
}

.ship {
    border: 1px solid #3F72AF;
    height: 40px;
    background-color: #DBE2EF;
}

.ship-4 {width: 160px;}
.ship-3 {width: 120px;}
.ship-2 {width: 80px;}
.ship-1 {width: 40px;}

.placed {
    transform-origin: top left;
    transition: transform 0.2s ease;
}

.rotated {
    transform: rotate(90deg) translateY(-40px);
}

#ship-dock.hidden, #frame2.hidden {
    display: none;
}

.hit {
    background-color: rgb(134, 200, 134);
}

.miss {
    background-color: rgb(218, 152, 152);
}